body{
    background-image: url('/assets/famila.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
}

.btn-primary{
background-color: #48ff42;
font-family: 'arial', cursive;
font-size: 23px;
padding: .5em 2em;
border: 3px solid #bf29ff;
color: #bf29ff;
border-radius: 50px;
outline: none;
cursor: pointer;
margin-left: 350px;

transition: transform 0.7s ease, background-color 0.7s ease; }

.btn-primary:hover{
        transform: scale(1.1); /*agranda el boton */
        background-color: #ecc4ff; 
    }

.btn-success{
    background-color: #ff8742;
font-family: 'arial', cursive;
font-size: 23px;
padding: .5em 2em;
border: 3px solid #bf29ff;
color: #bf29ff;
border-radius: 50px;
outline: none;
cursor: pointer;
margin-left: 180px;
}
.btn-success:hover{
    transform: scale(1.1); /*agranda el boton */
    background-color: #48ff42; 
}

#formregister{
    color: #48ff42;
     margin-left: 550px;
     font-size: 40px;
     font-style:initial;
   text-align: center;
   margin-left: 50px;
}
#formregister:hover{
    transform: scale(1.1); /*agranda el boton */
    color: #cd7bff; 
}
.m-5 {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
   border-radius: 10px;
   width: auto;
   height: auto;
}
.icon-container {
    width: 100px; /* Ancho del contenedor del ícono */
    height: 80px; /* Altura del contenedor del ícono */
    border-radius: 50%; /* Borde redondeado para crear un círculo */
    overflow: hidden; /* Oculta cualquier contenido adicional fuera del contenedor */
    background-color: #fff94f; /* Color de fondo del contenedor  */
    margin-right: 180px;
    margin-top: 10px;
    margin-left: 1300px;
   
}

.icon-img {
    width: 100%; /* Ancho máximo de la imagen igual al contenedor */
    height: auto; /* Altura automática para mantener la proporción de la imagen */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}
.icon-container:hover {
    transform: scale(1.1); /* Agranda el contenedor al pasar el cursor sobre él */
}

.icon-container:hover .icon-img {
    transform: scale(1.1); /* Agranda la imagen al pasar el cursor sobre ella */
}
.btn-primary{
background-color: #48ff42;
font-family: 'arial', cursive;
font-size: 23px;
padding: .5em 2em;
border: 3px solid #bf29ff;
color: #bf29ff;
border-radius: 50px;
outline: none;
cursor: pointer;
margin-left: 350px;

transition: transform 0.7s ease, background-color 0.7s ease; }

.btn-primary:hover{
        transform: scale(1.1); /*agranda el boton */
        background-color: #ecc4ff; 
    }
    .btn-primary{
        background-color: #48ff42;
        font-family: 'arial', cursive;
        font-size: 23px;
        padding: .5em 2em;
        border: 3px solid #bf29ff;
        color: #bf29ff;
        border-radius: 50px;
        outline: none;
        cursor: pointer;
        margin-left: 350px;
        
        transition: transform 0.7s ease, background-color 0.7s ease; }
        
        .btn-primary:hover{
                transform: scale(1.1); /*agranda el boton */
                background-color: #ecc4ff; 
            }
        
            .buttonreturn{
                background-color: #ffff42;
                font-family: 'arial', cursive;
                font-size: 23px;
                padding: .5em 2em;
                border: 3px solid #bf29ff;
                color: #bf29ff;
                border-radius: 50px;
            
           
              
                
                transition: transform 0.7s ease, background-color 0.7s ease; }
                
                .buttonreturn:hover{
                        transform: scale(1.1); /*agranda el boton */
                        background-color: #ecc4ff; 
                    }
.form-label{
    color: #ff8a42;
    font-size: 30px;
    
}
.form-check-input
{
    border-color: #48ff42;
    
}
