body{
    background-image: url('/assets/pngwing.png.png'); /* link img container */
    background-size: 98% 100%; /* big img */
}

.btn-primary{
background-color: #48ff42;
font-family: 'arial', cursive;
font-size: 23px;
padding: .5em 2em;
border: 3px solid #bf29ff;
color: #bf29ff;
border-radius: 50px;
outline: none;
cursor: pointer;
margin-left: 350px;

transition: transform 0.7s ease, background-color 0.7s ease; }

.btn-primary:hover{
        transform: scale(1.1); /*big boton */
        background-color: #ecc4ff; /*color*/
    }

.btn-success{
    background-color: #ff8742;
font-family: 'arial', cursive;
font-size: 23px;
padding: .5em 2em;
border: 3px solid #bf29ff;/*borders */
color: #bf29ff;
border-radius: 50px;
outline: none;
cursor: pointer;
margin-left: 180px;/*margin */
}
.btn-success:hover{
    transform: scale(1.1); /*big button */
    background-color: #48ff42; 
}

#formregister{
    color: #48ff42;
     margin-left: 550px;
     font-size: 40px;
     font-style:initial;
     font-family: fantasy;
   text-align: center;
   margin-left: 50px;
}
#formregister:hover{
    transform: scale(1.1); /*big button */
    color: #cd7bff; 
}
.m-5 {
    background-color: rgba(255, 255, 255, 0.5); /* font  */
   border-radius: 10px;/*borders*/
   width: auto;
   height: auto;
}
.icon-container {
    width: 100px; /* wisth container */
    height: 80px; /* heigth container */
    border-radius: 50%; /* borders */
    overflow: hidden; 
    background-color: #fff94f; /* color container  */
    margin-right: 180px;
    margin-top: 10px;
    margin-left: 1300px;
   
}

.icon-img {
    width: 100%; /* Ancho máximo de la imagen igual al contenedor */
    height: auto; /* Altura automática para mantener la proporción de la imagen */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}
.icon-container:hover {
    transform: scale(1.1); /* Agranda el contenedor al pasar el cursor sobre él */
}

.icon-container:hover .icon-img {
    transform: scale(1.1); /* Agranda la imagen al pasar el cursor sobre ella */
}
.btn-primary{
background-color: #48ff42;
font-family: 'arial', cursive;
font-size: 23px;
padding: .5em 2em;
border: 3px solid #bf29ff;
color: #bf29ff;/*color*/
border-radius: 50px;/*borders*/
outline: none;
cursor: pointer;
margin-left: 350px;
transition: transform 0.7s ease, background-color 0.7s ease; }
.btn-primary:hover{
    transform: scale(1.1); /*big button */
    background-color: #ecc4ff; 
}
.btn-primary{
    background-color: #48ff42;
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .5em 2em;
    border: 3px solid #bf29ff;/*border*/
    color: #bf29ff;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    margin-left: 350px;
    transition: transform 0.7s ease, background-color 0.7s ease; }
.btn-primary:hover{
    transform: scale(1.1); /*big button */
    background-color: #ecc4ff; 
    }
.buttonreturn{
    background-color: #ffff42;
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .5em 2em;
    border: 3px solid #bf29ff;
    color: #bf29ff;
    border-radius: 50px;
    margin-left: 10px;
transition: transform 0.7s ease, background-color 0.7s ease; }
.buttonreturn:hover{
    transform: scale(1.1); /*big button*/
    background-color: #ecc4ff; 
    }
.form-label{
    color: #000000;
    font-size: 30px;
    
}
.form-check-input
{
    border-color: #48ff42; /*borders*/
    
}
