body{
    background-image: url('/assets/pngwing.png'); /* size img */
    background-size: 80% 150%; 
}
.m-5 {
    background-color: rgba(255, 205, 255, 0.5); /* Font/
    border-radius: 10px; /* borders */
    width: auto;
    height: auto;
}
/* style login*/
.login{
    color: rgb(255, 234, 71);
    margin-left: 400px;
    font-family: fantasy;
    font-size: 40px;
}
.login:hover{
    
    color: rgb(128, 255, 24);
}
.mb-3{
    font-size: 20px;
}
.button
{
    background-color: #48ff42;
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .5em 2em;
    border: 3px solid #bf29ff;
    color: #bf29ff;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1); /*agranda el boton */
    color: #ecc4ff; 
}
.btn-success{
    background-color: #48ff42;
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .5em 2em;
    border: 3px solid #bf29ff;/*borders*/
    color: #bf29ff;/*color*/
    border-radius: 50px;/*borders radius*/
    outline: none;
    cursor: pointer;
    margin-left: 10px;/*margin*/
    
}
.btn-success:hover{
    background-color: #e6ff29;/*color font*/
    color: black;
}
 /* button return */
#return{
    background-color: hsl(161, 100%, 63%);
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .5em 2em;
    border: 3px solid #78ff29;/*borders*/
    color: #bf29ff;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    margin-left: 700px;
}
#return:hover{
    
    background-color: rgb(255, 234, 0);
}
#getLocationBtn{

    background-color: hsl(61, 100%, 63%);
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .5em 2em;
    border: 3px solid #78ff29;/*borders*/
    color: #bf29ff;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
margin-left:100px;
}
#getLocationBtn:hover{
    transform: scale(1.1); /*agranda el boton */
    background-color: aqua;
}
.icon-container {
    width: 100px; /* width icon */
    height: 80px; /* heigth icon */
    border-radius: 50%; /* borders radius */
    overflow: hidden;
    background-color: #7bff4f; /* Color container */
    margin-left: 20px;
    margin-top: 10px;
}
.icon-img {
    width: 100%; /* width icon img */
    height: auto; /* height img */
    display: block; 
}
.icon-container:hover {
    transform: scale(1.1); /* big container */
}
.icon-container:hover .icon-img {
    transform: scale(1.1); /* big container */
}