body {
    background-image: url('/assets/pngegg.ico'); /* URL de tu imagen de fondo */
    background-position: center; /* Centra la imagen */

   
}



.buttonconfig{
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .7em 2em;
    border: 3px solid #26d1a3;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    margin-left: 500px;
    margin: 20px;
    
   
   
    
   
   
    transition: transform 0.7s ease, background-color 0.7s ease; 
}
.buttonconfig:hover {
    transform: scale(1.5); /* Escala 10% más grande al pasar el cursor sobre el botón */
    background-color: #ecc4ff; 
}


.buttongo{
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .7em 2em;
    border: 3px solid #26d1a3;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    
    
    
    transition: transform 0.7s ease, background-color 0.7s ease; 
}
.buttongo:hover {
    transform: scale(1.5); /* Escala 10% más grande al pasar el cursor sobre el botón */
    background-color: #ecc4ff; 
}
.buttonReturn{
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .7em 2em;
    border: 3px solid #26d1a3;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
   
    
    transition: transform 0.7s ease, background-color 0.7s ease; 
}
.buttonReturn:hover {
    transform: scale(1.5); /* Escala 10% más grande al pasar el cursor sobre el botón */
    background-color: #ecc4ff; 
}
.buttonchat{
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .7em 2em;
    border: 3px solid #26d1a3;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
   
    
    transition: transform 0.7s ease, background-color 0.7s ease; 
}
.buttonchat:hover {
    transform: scale(1.5); /* Escala 10% más grande al pasar el cursor sobre el botón */
    background-color: #ff8a14; 
}

