.buttonreturn{
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .7em 2em;
    border: 3px solid #26d1a3;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
   
    margin-left: 500px;
    
    transition: transform 0.7s ease, background-color 0.7s ease; 
}
.buttonreturn:hover {
    transform: scale(1.5); /* Escala 10% m치s grande al pasar el cursor sobre el bot칩n */
    background-color: #c98ff0; 
}
.buttoninit{
    font-family: 'arial', cursive;
    font-size: 23px;
    padding: .7em 2em;
    border: 3px solid #26d1a3;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
   
    margin-left: 500px;
    
    transition: transform 0.7s ease, background-color 0.7s ease; 
}
.buttoninit:hover {
    transform: scale(1.5); /* Escala 10% m치s grande al pasar el cursor sobre el bot칩n */
    background-color: #c98ff0; 
}